/* General Styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  background: black;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

/* HERO SECTION */
.hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: lightblue;
  text-align: center;
}

.hero-content h2 {
  font-size: 40px;
}

.hero-content p {
  font-size: 18px;
}

button {
  padding: 10px 20px;
  border: none;
  background: black;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: gray;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: black;
  color: white;
}



/* RESPONSIVE DESIGN */
@media (max-width: 768px) {

  header {
    flex-direction: column;
    text-align: center;
  }

  nav {
    margin-top: 10px;
  }

  .hero-content h2 {
    font-size: 28px;
  }
}
